*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    color: white;
}
.inner{
    max-width: 1000px;
    padding: 0 30px;
    margin: auto;
}
/* Header  */
header{
    font-size: 2rem;
    margin-bottom: 100px;
}
/* Header end  */

/* Main */

.land-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.land-card{
    /* max-width: 50%; */
    height: 100%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 10px;
    transition: 0.5s ease-in-out;
    position: relative;
}
.notes-hover{
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png"), linear-gradient(-45deg, rgba(255, 255, 0, 0.61), rgba(255, 68, 0, 0.877));
    height: 200%;
}
.todo-hover{
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/gradient-squares.png"),radial-gradient(at bottom left,#ff0d0d,#682834);
    height: 200%;
}
.land-card-title{
    margin-bottom: 20px;
}
.arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.create{
    font-size: 2.5rem;
}
/* Main end  */

/* Footer */
footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin: auto;
}