*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
.inner{
    max-width: 1000px;
    padding: 0 30px;
    margin: auto;
}